name: password_check
description: "This package facilitates the implementation of a checklist for password validation"
version: 2.0.0
homepage: https://github.com/deyvissoneduardo/password_check.git

environment:
  sdk: '>=3.2.5 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

